*.dll filter=lfs diff=lfs merge=lfs -text
*.pyd filter=lfs diff=lfs merge=lfs -text
C:/Users/JavierMañasBlázquez/OneDrive[[:space:]]-[[:space:]]KISHOA,[[:space:]]S.L/Escritorio/cosas/mis/VScode2proyecto/venv2 filter=lfs diff=lfs merge=lfs -text
