{% load static %}

<link rel="stylesheet" href="{% static 'ABL/style.css' %}">

<div class="container">
    <div class="titlebar">
        <h1>ABL</h1>
        

    </div>
    <form id="formulario" action="{% url 'resultados' %}" method="post">
        {% csrf_token %}
        <div class="caja1">

            
            <div class="categoriastxt">
                <p>porfavor escoja modelo que analizara el texto entregado</p>
                
                
            </div>
            <div class="categorias">
                <style>
                    label {
                        color: rgb(205, 205, 206);
                        margin-right: 5%;
                    }
                </style>

                    <input type="checkbox" id="mrovejaxd/FNST_b" name="modelo" value="mrovejaxd/FNST_b">
                    <label for="mrovejaxd/FNST_b">FNST</label>
                    
                    
                    <input type="checkbox" id="mrovejaxd/ABL_d" name="modelo" value="mrovejaxd/ABL_d">
                    <label for="mrovejaxd/ABL_d">ABL</label>
                    
                    <input type="checkbox" id="mrovejaxd/goemotions_bertspanish_finetunig_d" name="modelo" value="mrovejaxd/goemotions_bertspanish_finetunig_d">
                    <label for="mrovejaxd/goemotions_bertspanish_finetunig_d">Emociones</label><br><br>
                    
                
                
            </div>
        </div>
    
        <div class="caja2">
            
            
            <div class="promptTxt">
                <p>porfavor escriba frase</p>
                
            </div>
            <div class="submiter">
                
                    <input type="text" id="texto" name="texto">
                    <div class="boton">
                        <input type="submit" value="procesar">
                    </div>
                    
                        {% if messages %}
                            <ul class="messages">
                                {% for message in messages %}
                                    <p class="error-message">{{ message }}</p>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    
            </div>
        </div> 
    </form>
   
</div>


