{% load static %}
<link rel="stylesheet" href="{% static 'ABL/style.css' %}">

<div class="container">
    <div class="titlebar">
        <h1>Resultados</h1>
    </div>
    <div class="container2">
        <a href="{% url 'mainpage'%}">mainpage</a>
        <div class="caja3">
            <p>Texto ingresado:</p>
            <p>{{ frase }}</p>

            <p>Categorías seleccionadas:</p>
            <ul>
                {% for categoria in categorias %}
                    <li>{{ categoria }}</li>
                {% endfor %}
            </ul>
        </div>


        <div class="caja4">
            <div>{% for grafico_html in graficos %}
                    {% if grafico_html %}
                        {{ grafico_html|safe }}
                    {% endif %}
                    
                {% endfor %}
            </div>
        </div>
    </div>
</div>