{% load static %}
<link rel="stylesheet" href="{% static 'ABL/style.css' %}">

<div class="container2">
    <div class="titlebar2">
        <div class= 'titlebarminibox1'>
        <a href="{% url 'mainpage' %}" style="text-decoration: none;">
            <span style="font-size: 70px; color: rgb(255, 217, 4); font-weight: bold;">&#8592;</span> 
            
        </a>
        </div>
        <div class= 'titlebarminibox2'>
            <h1>Resultados</h1>
        </div>
        
    </div>
    <div class="box1">
        <div class="minibox1">
            <p>Texto ingresado:</p>
            <p> </p>
            <pt>{{ frase }}</pt>
        </div>
        <div class="minibox2">
            <p>Categorías seleccionadas:</p>
            <ul>
                {% for categoria in categorias %}
                    <li class="categoria">{{ categoria }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="box2">
        <div>{% for grafico_html in graficos %}
            {% if grafico_html %}
                <div class="grafico-container">
                    {{ grafico_html|safe }}
                </div>
            {% endif %}
            
        {% endfor %}
    </div>
    </div>


</div>